# Build
/build/
/out/
/vcpkg_installed/
CMakeUserPresets.json

# IDE
/.vs/
/.vscode/
/.idea/
/.cache/
*.user

# Lien clangd vers le compile_commands.json du preset courant
/compile_commands.json

# Captures et sorties locales
*.rdc
*.tracy
/captures/

# Clone et cache de vcpkg en CI
/vcpkg/
/vcpkg-cache/
/vcpkg-downloads/
